{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary'}
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCharacterCount({
          label: {
            text: title,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          value: roleDescription,
          id: "roleDescription",
          name: "roleDescription",
          classes: "govuk-input--width-50",
          maxlength: 1024,
          errorMessage: errors | findError('roleDescription')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm",
            type: "submit",
            attributes: { "data-qa": "confirm-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: roleUrl,
            classes: "govuk-button--secondary",
            attributes: { "id": "cancel-button" }
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
