{% extends "../../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = "Create role" %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: title }
     ]
   }) }}
 {% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary'}
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukInput({label: {
          text: "Role code"
        },
          classes: "govuk-input--width-30",
          value: roleCode,
          id: "roleCode",
          name: "roleCode",
          errorMessage: errors | findError('roleCode')
        }) }}

        {{ govukInput({label: {
          text: "Role name"
        },
          classes: "govuk-input--width-30",
          value: roleName,
          id: "roleName",
          name: "roleName",
          errorMessage: errors | findError('roleName')
        }) }}

        {{ govukCharacterCount({label: {
          text: "Role description"
        },
          classes: "govuk-input--width-50",
          value: roleDescription,
          id: "roleDescription",
          name: "roleDescription",
          maxlength: 1024,
          errorMessage: errors | findError('roleDescription')
        }) }}

        {{ govukCheckboxes({
          idPrefix: 'adminType',
          name: 'adminType',
          fieldset: {
            legend: {
              text: "Who will be able to allocate the role",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: adminTypeValues | setChecked(adminType) ,
          errorMessage: errors | findError('adminType')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Create",
            type: "submit",
            attributes: { "data-qa": "create-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: roleListUrl,
            classes: "govuk-button--secondary",
            attributes: { "id": "cancel-button" }
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
