{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = roleDetails.roleName %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: 'Manage roles', href: maintainUrl },
       { text: title }
     ]
   }) }}
 {% endblock %}


{% block content %}
{% if errors.length > 0 %}
  <div class="govuk-grid-column-two-thirds">
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary'}
    }) }}
  </div>
{% endif %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set heading = '<h1 class="govuk-heading-l">' +  title  + '</h1>' %}
    {% set changeRoleNameLink %}
      {% if hasRolesAdmin %}
        <a href="{{ maintainUrl }}/{{ roleDetails.roleCode }}/change-role-name" class="govuk-link" data-qa="change-role-name-link">Change <span class="govuk-visually-hidden"> role name</span> </a>
      {% endif %}
    {% endset %}
    {% set changeRoleDescriptionLink %}
      {% if hasRolesAdmin %}
        <a href="{{ maintainUrl }}/{{ roleDetails.roleCode }}/change-role-description" class="govuk-link" data-qa="change-role-description-link">Change <span class="govuk-visually-hidden"> role description</span> </a>
      {% endif %}
    {% endset %}
    {% set roleDescriptionWithWrapping %}
      <pre class="govuk-body govuk-!-margin-bottom-0">{{ "" if roleDetails.roleDescription == null else roleDetails.roleDescription }}</pre>
    {% endset %}
    {% set caption = '<b>Admin type</b>' %}
    {% set changeRoleAdminTypeLink %}
      {% if hasRolesAdmin %}
        <a href="{{ maintainUrl }}/{{ roleDetails.roleCode }}/change-role-adminType" class="govuk-link" data-qa="change-role-admintype-link">Change <span class="govuk-visually-hidden"> role admintype</span> </a>
      {% endif %}
    {% endset %}

    {{ govukTable({

      rows: [
        [
          {html: heading},
          {
            html: changeRoleNameLink,
            classes: 'govuk-!-width-one-quarter',
            format: "numeric"
          }
        ]
      ],
      attributes: { "data-qa": "header" }
    }) }}

    {{ govukTable({
      caption: "Role details",
      attributes: { "data-qa": "role-details" },
      rows: [
        [
          {text: "Role code"},
          {text: roleDetails.roleCode },
          {text: ''}
        ],
        [
          {text: "Role description"},
          {html: roleDescriptionWithWrapping},
          {
            html: changeRoleDescriptionLink,
            classes: 'govuk-!-width-one-quarter',
            format: "numeric"
          }
        ]
      ],
      attributes: { "data-qa": "details" }
    }) }}

    {% set rows = [] %}
    {% for a in roleDetails.adminType %}
        {% set rows = (rows.push([
          { text: a.adminTypeName }
        ]), rows) %}
    {% endfor %}

    {{ govukTable({
      rows: [
        [
          {html: caption},
          {
            html: changeRoleAdminTypeLink,
            classes: 'govuk-!-width-one-quarter',
            format: "numeric"
          }
        ]
      ],
      attributes: { "data-qa": "admin-type-header" }
    }) }}

    {{ govukTable({
      rows: rows,
      attributes: { "data-qa": "admin-type" }
    }) }}

  </div>
</div>
{% endblock %}
