{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = "Add user to allow list" %}
{% set reasonHint %}Please provide a valid business reason for allowing access to {{ allowListEnvironment }}{% endset %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: homeUrl },
      { text: "Manage user accounts", href: '/' },
      { text: title }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary' }
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">{{ title }}</h1>
      {% if not userType %}
      <form method="GET">
        {{ govukRadios({
          name: "userType",
          fieldset: {
            legend: {
              text: "What type of user are you adding?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "GENERAL",
              text: "General user"
            },
            {
              value: "DIGITAL",
              text: "Digital user"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit",
            attributes: { "data-qa": "continue-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: '/',
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "cancel-userType-button" }
          }) }}
        </div>
      </form>
      {% else %}
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        <input type="hidden" name="userType" value="{{ userType }}" />

        {{ govukInput({
          label: { text: "Username" },
          classes: "govuk-input--width-20",
          value: username,
          id: "username",
          name: "username",
          errorMessage: errors | findError('username')
        }) }}

        {{ govukInput({
          label: { text: "Email address" },
          classes: "govuk-input--width-25",
          value: email,
          id: "email",
          name: "email",
          errorMessage: errors | findError('email')
        }) }}

        {{ govukInput({
          label: { text: "First name" },
          classes: "govuk-input--width-20",
          value: firstName,
          id: "firstName",
          name: "firstName",
          errorMessage: errors | findError('firstName')
        }) }}

        {{ govukInput({
          label: { text: "Last name" },
          classes: "govuk-input--width-20",
          value: lastName,
          id: "lastName",
          name: "lastName",
          errorMessage: errors | findError('lastName')
        }) }}

        {% if userType == 'GENERAL' %}

        {{ govukRadios({
          name: "accessPeriod",
          fieldset: {
            legend: {
              text: "How long does the user need access?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "ONE_MONTH",
              text: "One month",
              checked: accessPeriod == "ONE_MONTH"
            },
            {
              value: "THREE_MONTHS",
              text: "Three months",
              checked: accessPeriod == "THREE_MONTHS"
            }
          ],
          errorMessage: errors | findError('accessPeriod')
        }) }}

        {{ govukTextarea({
          name: "reason",
          id: "reason",
          value: reason,
          rows: "8",
          label: {
            text: "Reason",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: { text: reasonHint },
          errorMessage: errors | findError('reason')
        }) }}
        {% endif %}

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Add",
          type: "submit",
          attributes: { "data-qa": "submit-button" }
        }) }}

        {{ govukButton({
          text: "Cancel",
          element: 'a',
          href: '/',
          classes: "govuk-button--secondary",
          attributes: { "data-qa": "cancel-button" }
        }) }}
        </div>
      </form>
      {% endif %}
    </div>
  </div>
{% endblock %}
