{% extends "../../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/error-message/macro.njk" import govukErrorMessage %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "moj/components/filter/macro.njk" import mojFilter %}
{% from "moj/components/pagination/macro.njk" import mojPagination %}

{% set title = allowListSearchTitle %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: homeUrl },
      { text: "Manage user accounts", href: '/' },
      { text: title }
    ]
  }) }}
{% endblock %}

{% block content %}

{% set filterOptionsHtml %}
  {{ govukInput({
    label: { text: "Name, username or email address", classes: "govuk-label--s" },
    classes: "govuk-input--width-20 govuk-fieldset__legend--s",
    value: currentFilter.user,
    id: "user",
    name: "user",
    hint: {
      text: "Will match the user's name, username or verified email address"
    },
    errorMessage: errors | findError('user')
  }) }}

  {{ govukRadios({
    idPrefix: 'status',
    name: 'status',
    classes: 'govuk-radios--small govuk-radios--inline',
    fieldset: {
      legend: {
        text: 'Status',
        classes: 'govuk-fieldset__legend--s govuk-padding-0'
      }
    },
    hint: {
      text: 'Display active or expired users only'
    },
    items: [
      {
        value: 'ALL',
        text: 'All',
        checked: currentFilter.status === 'ALL'
      },
      {
        value: 'ACTIVE',
        text: 'Active',
        checked: currentFilter.status === 'ACTIVE'
      },
      {
        value: 'EXPIRED',
        text: 'Expired',
        checked: currentFilter.status === 'EXPIRED'
      }
    ]
  }
  ) }}
{% endset %}

<div class="govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <div class="moj-filter-layout">
      <div class="moj-filter-layout__filter">
        <form id="filter-form" action="{{ searchUrl }}" novalidate>
          {{ mojFilter(currentFilter | toAllowListFilter(filterOptionsHtml)) }}
        </form>
      </div>
      <div class="moj-filter-layout__content">
        <div>
          <div class="govuk-grid-column-full">
            <div class="moj-action-bar__filterTagsContainer govuk-!-margin-bottom-5"></div>
            {% if results.length %}
              {{ mojPagination(pagination) }}

              {% set rows = [] %}
              {% for u in results %}
                {% set viewUserUrl = u.username | allowListUserView %}
                {% set cellHtml %}
                  <div class="govuk-!-margin-bottom-2">
                    <div class="govuk-grid-row govuk-!-margin-bottom-2">
                      <div class="govuk-grid-column-three-quarters">
                        <a href="{{ viewUserUrl }}" class="govuk-link"
                           data-qa="edit-button-{{ u.username }}">{{ u.firstName }} {{ u.lastName }}</a><span data-qa="username-{{ u.username }}"> - {{ u.username }}</span>
                      </div>
                      <div class="govuk-grid-column-one-quarter pull-right">
                        <a href="{{ viewUserUrl }}" class="govuk-link" data-qa="view-details-{{ u.username }}">View details</a>
                        <span class="govuk-visually-hidden">for {{ u.firstName }} {{ u.lastName }}</span>
                      </div>
                    </div>
                    <div class="govuk-grid-row govuk-!-margin-bottom-2">
                      <div class="govuk-grid-column-full"><span
                            class="govuk-visually-hidden">Email</span><span data-qa="email-{{ u.username }}">{{ u.email }}</span>
                      </div>
                    </div>
                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row">
                          <div class="govuk-grid-column-full">
                            <span class="govuk-visually-hidden">Expiry Date</span>
                            <span class="govuk-!-font-weight-bold govuk-!-padding-right-1">Expiry Date:</span>
                            <span class="govuk-!-padding-right-1" data-qa="expiry-{{ u.username }}">{{ u.allowlistEndDate | toAllowListExpiry }}</span>
                            <span class="govuk-visually-hidden">Status</span>
                            {% set statusClass = "govuk-tag--pink" if u.status == 'EXPIRED' else "govuk-tag--green" %}
                            {% set statusDataQa %}status-{{ u.username }}{% endset %}
                            {{ govukTag({
                              text: u.status | toStatus,
                              classes: statusClass,
                              attributes: {"data-qa": statusDataQa }
                            }) }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endset %}

                {% set rows = (rows.push([
                  { html: cellHtml }
                ]), rows) %}
              {% endfor %}

              {{ govukTable({
                rows: rows
              }) }}
              {{ mojPagination(pagination) }}
              {% if downloadUrl and showDownloadLink %}
                <div id="downloadInProgress" class='govuk-!-display-none'>
                  <div class="loading-spinner-wrapper">
                    <div class="loading-spinner"></div>
                    Download in progress...
                  </div>
                </div>
                {{ govukErrorMessage({
                  id: "downloadError",
                  classes: "govuk-!-display-none",
                  text: "There was a problem downloading"
                }) }}
              {% endif %}
              {% if downloadUrl %}
                {% if showDownloadLink %}
                  <div class="pull-right">
                    <form id="downloadAllowListForm" method="GET" action="{{ downloadUrl }}">
                      {{ govukButton({
                        id: "downloadUsersButton",
                        text: "Download results",
                        element: "button",
                        type: "submit",
                        preventDoubleClick: true,
                        classes: "govuk-button downloadButton",
                        attributes: { "data-qa": "download" }
                      }) }}
                    </form>
                  </div>
                {% else %}
                  <p class="govuk-body" data-qa="exceed-download-limit"><b>More
                      than {{ downloadLimit }} results returned, please refine your search
                      if you want to download the results</b></p>
                {% endif %}
              {% endif %}
            {% else %}
              <p class="govuk-body" data-qa="no-results">No records found matching search criteria.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
