{% extends "../../partials/layout.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

 {% block beforeContent %}
   {{ govukBreadcrumbs({
     items: [
       { text: "Home", href: homeUrl },
       { text: "Manage user accounts", href: '/' },
       { text: "Create a DPS user" }
     ]
   }) }}
 {% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
          titleText: "DPS user created",
          html: "An email has been sent to " + email,
          attributes: { "data-qa": "email" }
        }) }}
        <div class="govuk-body">
          <a data-qa="user-details" href="{{ username | manageUserDetailsLink }}" class="govuk-link">View new user details</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
