{% extends "../partials/layout.njk" %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set title = "Select group" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      { text: "Home", href: homeUrl },
      { text: "Manage user accounts", href: '/' },
      { text: searchTitle, href: searchUrl },
      { text: staff.name, href: staffUrl },
      { text: title }
    ]
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary' }
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><span class="govuk-caption-l">{{ staff.username }}</span>{{ staff.name }}</h1>
      <table class="govuk-table">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row user-enabled-status">
          {% if staff.enabled %}
            <td class="govuk-table__cell">
              {{ govukTag({
                text: "Active account",
                classes: "govuk-tag--turquoise",
                attributes: { "data-qa": "enabled" }
              }) }}
            </td>
          {% else %}
            <td class="govuk-table__cell">
              {{ govukTag({
                text: 'Inactive account',
                classes: "govuk-tag--pink",
                attributes: { "data-qa": "enabled" }
              }) }}
            </td>
          {% endif %}
        </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">{{ title }}</h2>
      {% if groupValues.length == 0 %}
        <p class="govuk-body" data-qa="no-groups">
          There are no groups available for you to assign.
        </p>
      {% endif %}
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        {{ govukSelect({
          classes: 'autocomplete-select',
          idPrefix: 'group',
          name: 'group',
          id: 'group',
          label: { text: "Select a group", classes: "govuk-label--s" },
          items: groupValues | addBlankOptions('Select a group'),
          errorMessage: errors | findError('group')
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm",
            type: "submit",
            attributes: { "data-qa": "add-button" }
          }) }}

          {{ govukButton({
            text: "Cancel",
            element: 'a',
            href: staffUrl,
            classes: "govuk-button--secondary",
            attributes: { "data-qa": "cancel-link" }
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
