{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set title = "Change email" %}

{% block beforeContent %}
  {% set breadcrumbs =
    [
      { text: "Home", href: homeUrl },
      { text: "Manage user accounts", href: '/' },
      { text: searchTitle, href: searchUrl },
      { text: staff.name, href: staffUrl },
      { text: title }
    ]
  %}
  {{ govukBreadcrumbs({
    items: breadcrumbs
  }) }}
{% endblock %}

{% block content %}
  {% if errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors,
      attributes: { 'data-qa': 'error-summary'}
    }) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        {{ govukInput({
          label: {
            text: "Change email",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          value: currentEmail,
          id: "email",
          name: "email",
          errorMessage: errors | findError('email')
        }) }}

        {{ govukButton({
          text: "Confirm",
          type: "submit",
          classes: "govuk-!-margin-right-1",
          attributes: { "data-qa": "confirm-button" }
        }) }}

        {{ govukButton({
          text: "Cancel",
          element: 'a',
          href: staffUrl,
          classes: "govuk-button--secondary",
          attributes: { "data-qa": "cancel-link" }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
